<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/header.ejs') %>


<body>
    <%- include('../partials/nav.ejs') %>
   
    <main class="container">
        <h1 class="heading">About my page</h1>
        <div class="body"> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ut maiores suscipit. Sed mollitia error voluptas molestias hic veniam totam repudiandae nemo dignissimos consectetur excepturi molestiae, ipsa aperiam. Nemo iure ipsam veniam temporibus sunt accusantium dolores consectetur tempora provident animi. Doloremque reiciendis impedit iste exercitationem facere vero quasi voluptas expedita culpa maxime dicta atque veniam incidunt, voluptatem tempora sint placeat repudiandae dolorum id. Harum officiis voluptate tenetur nostrum aut iste voluptas quaerat, quia animi fuga possimus facilis cupiditate nihil veniam, dolores provident? Rem quisquam eaque fugiat illo quas impedit iste. Labore minima illo delectus, quo distinctio ea laboriosam sed velit inventore at sapiente optio libero similique necessitatibus deleniti voluptates nihil laborum explicabo aliquid repellat quod, incidunt vel! Officia asperiores neque hic dolor laboriosam animi, excepturi quas distinctio reiciendis corrupti rerum, exercitationem, praesentium illum ducimus natus facere dolorem sit. Perferendis soluta architecto molestias quidem provident impedit vel quisquam facere quaerat cupiditate. Repellendus reprehenderit voluptas at eius pariatur voluptatum tempora quisquam dolorem adipisci voluptate ad, aperiam quae voluptatem eaque expedita eos tempore atque mollitia cum quos soluta magni? Aperiam eaque, doloremque harum iure numquam quas cupiditate soluta odio est voluptatibus neque aliquid impedit totam fugit officiis inventore placeat vitae similique cumque qui tempora! Error suscipit nobis iusto illum esse magnam accusamus dignissimos eos, voluptatibus, ipsa sit. Voluptates recusandae dolor ab, exercitationem quidem id, nulla ut eveniet inventore perspiciatis, aliquid placeat possimus natus quasi? Totam hic veritatis incidunt ipsa ipsam ipsum neque impedit possimus est. At, recusandae dignissimos. Quibusdam, repellendus quod similique tempore obcaecati delectus nihil esse et hic amet, quam provident optio cum quae, excepturi neque error dolor consequuntur maiores culpa ipsa vero corrupti? Non ipsum aperiam enim voluptate doloremque omnis ullam quam eveniet provident blanditiis unde facilis, natus error, perspiciatis facere at. Nostrum atque mollitia est dignissimos veritatis laborum vero cum?</p>
    </main>
    </div>

    <%- include('../partials/footer.ejs') %>
</body>
</html>